<div>
    <h1>View All Posts</h1>
    <p><%= image_tag @user.photo%> <%= @user.name %></p>
    <p>Number of Posts: <%= @user.posts_counter%>
</div>

<div>
    <% @posts.each do |post| %>
        <%= link_to user_post_path(@user, post) do %>
            <button> <%= post.title %> <%= post.text %> Comments: <%= post.comments_counter%> Likes: <%= post.likes_counter%></button><br>
        <% end %>
    <% end %>
</div>

<div>
    <%= link_to user_posts_path(@user) do %>
        <button>Pagination</button>
    <% end %>
</div>