<div>
    <%= form_with model: @newPost, url: user_posts_path(@user) do |f| %>
      <%= f.label :title %><br>
      <%= f.text_field :title %><br>
      <%= f.label :text %><br>
      <%= f.text_area :text %><br>
      <%= f.submit %>
    <% end %>
</div>

<div>
    <%= link_to users_path(@user) do %>
        <button>Home</button>
    <% end %>
</div>