<div>
    <h2><%= @post.title %> Comments: <%= @post.comments_counter%> Likes: <%= @post.likes_counter%></h2>
    <%= @post.text %>
    <p>Author: <%= @post.author.name %></p>
    <p>Comments:</p>
    <div>
      <% @post.five_recent_comments.each do |comment| %>
        <li> Username: <%=@user.name%>,  <%= comment.text %> </li>
      <% end %>
    </div>
</div>

<div>
    <%=form_with model: @comment, :url => user_post_comments_path(@user, @post) do |f|%>
      <%=f.text_area :text, placeholder: 'Write your comment here'%><br>
      <%=f.submit 'Comment'%> <br>
    <%end%>
</div>

<div>
    <%=form_with model: @like, :url => user_post_likes_path(@user, @post) do |f|%>
      <% f.submit 'Like' %>
    <%end%>
</div>

<div>
    <%= link_to users_path(@user) do %>
        <button>Home</button>
    <% end %>
</div>
