<div>
    <h2><%= @post.title %> Comments: <%= @post.comments_counter%> Likes: <%= @post.likes_counter%></h2>
    <%= @post.text %>
    <p>Author: <%= @post.author.name %></p>
    <p>Comments:</p>
    <div>
      <% @post.five_recent_comments.includes(:author).each do |comment| %>
        <li> Username: <%=@user.name%>,  <%= comment.text %> </li>
        <% if can? :destroy, comment %>
          <%= button_to 'Delete Comment', user_post_comments_destroy_path(comment.author, @post, comment), method: :delete%>
        <% end %>
      <% end %>
    </div>
</div>

<div>
    <%=form_with model: @comment, :url => user_post_comments_path(@user, @post) do |f|%>
      <%=f.text_area :text, placeholder: 'Write your comment here'%><br>
      <%=f.submit 'Comment'%> <br>
    <%end%>
</div>

<div>
    <% if can? :destroy, @post %>
      <%= button_to 'Delete Post', user_post_path(current_user, @post), method: :delete%>
    <% end %>
    <%=form_with model: @like, :url => user_post_likes_path(@user, @post) do |f|%>
      <% f.submit 'Like' %>
    <%end%>
</div>

<div>
    <%= link_to users_path(@user) do %>
        <button>Home</button>
    <% end %>
</div>
