<div>
    <h2><%= @post.title %> <%= @post.text %> Comments: <%= @post.comments_counter%> Likes: <%= @post.likes_counter%></h2>
    <p>The following are comments:</p>
    <div>
      <% @comments.each do |comment| %>
        <li> Username: <%=@user.name%>,  <%= comment.text %> </li>
      <% end %>
    </div>
</div>

<div>
    <%=form_with model: @comment, :url => user_post_comments_path(@user, @post) do |f|%>
      <%=f.text_area :text, placeholder: 'Write your comment here'%><br>
      <%=f.submit 'Comment'%> <br>
    <%end%>
</div>

<div>
    <%= link_to users_path(@user) do %>
        <button>Home</button>
    <% end %>
</div>
