<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div>
    <%= link_to 'Home', root_path %>
    <%if user_signed_in?%>
      <%= link_to 'Create New Post', new_post_path %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <%end%>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  </body>
  <% flash.each do |type, msg| %>
    <div class="alert <%= type %>">
      <%= msg %>
    </div>
  <% end %>
</html>
